@import url(reset.css);
@import url(style.css);

.titulo_principal {
    padding: 20px;
	padding-left: 200px;
    font-weight: bold;
    font-size: 30px;
	color: black;
	text-decoration: underline;
}

.jcp-instancia {
	padding: 0px 30px 30px 90px;
}

#alvo {
	border: solid;
	border-width: 2px;
	box-shadow: 1px 2px 9px #595d61;
}

.btns-widgets {
	display: inline-block;
	border: 2px solid #666b6f;
	height: 500px;
	box-shadow: 1px 2px 9px #595d61;
}

.btn-userOptions {
	margin-top: 10px;
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	margin-left: 7px;
	margin-right: 7px;
	background-color: rgb(9, 59, 125);
	transition: 0.4s;
	box-shadow: 0px 15px 10px -15px rgb(9, 59, 125);
}

.fa-user, .fa-pen-to-square, .fa-trash-can{
	padding-left: 10px;
}

#btn-addUser {
	background-color: rgb(37, 161, 183);
}

#btn-editUser {
	background-color: rgb(75, 182, 95);
}

#btn-delUser {
	background-color: rgb(202, 21, 21);
}

#btn-addUser:hover {
	background-color: rgb(37, 186, 212);
}

#btn-editUser:hover {
	background-color: rgb(87, 223, 112);
}

#btn-delUser:hover {
	background-color: rgb(243, 40, 40);
}

.lista-pessoas {
	padding: 5px;
	font-size: 18px;
	font-weight: lighter;
	display: block;
	color: black;
}

.lista-usuario {
	display: block;
	content: 300px;
	padding: 10px;
}

.label-user {
	border-radius: 5px;
	border-color: rgb(35, 32, 32);
	border: solid 2px;
	cursor: pointer;
	margin-left: 10px;
	transition: 0.2s;
}

.label-user:hover {
	font-size: 20px;
}

.radiobox-user {
	margin-left: 15px;
	width: 20px;
	height: 20px;
}
