.titulo_principal {
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
	color: black;
}

.btns-widgets {
	display: inline-block;
}

.btn-userOptions {
	width: 150px;
	height: 40px;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	margin-left: 7px;
	margin-right: 7px;
	background-color: rgb(9, 59, 125);
}

.btn-userOptions:hover {
	width: 160px;
	height: 50px;
	background-color: lightseagreen;
	transition: 0.4s;
}

.lista-pessoas {
	padding: 5px;
	font-size: 18px;
	font-weight: lighter;
	display: block;
	color: black;
}

.lista-usuario {
	display: block;
	content: 300px;
	padding: 10px;
}

.label-user {
	border-radius: 5px;
	border-color: rgb(35, 32, 32);
	border: solid 2px;
	cursor: pointer;
}

.label-user:hover {
	font-size: 20px;
	transition: 0.2s;
}

.radiobox-user {
	margin-left: 15px;
}
