body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.main_upload {
	padding: 15px;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.titulo-pirncipal {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: green;
}

.rodapeh1 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    text-align: center;
}